@import 'styles/global';

.wrapper {
  flex: 0 0 toRem(240);
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    max-width: toRem(360);
    margin-bottom: toRem(20);
  }
}
.month {
  margin-bottom: toRem(20);
  @media (max-width: 768px) {
    margin-bottom: toRem(10);
    margin-right: -20px;
  }
  & h4 {
    font-size: toRem(20);
    font-weight: 600;
    text-align: center;
    margin-bottom: toRem(20);
    @media (max-width: 768px) {
      margin-bottom: toRem(15);
    }
  }
}

.calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.day_wrapper {
  width: 14.28%;
  margin-bottom: toRem(5);
}

.day {
  display: inline-block;
  width: toRem(30);
  font-size: toRem(15);
  line-height: toRem(20);
  border-radius: toRem(5);
  border: 1px solid $color-5;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    @media (min-width: 769px) {
      transform: scale(1.05);
    }
  }
  &.week_day {
    background: $color-6;
    border: none;
    font-size: toRem(12);
  }
  &:disabled {
    color: #000;
  }
  &.current {
    cursor: pointer;
    border: 1px solid #000;
    text-decoration: underline;
  }
  &.nonworking {
    background: $color-7;
  }
  &.free {
    background: $color-8;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }
  &.partfilled {
    background: $color-9;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }
  &.fulfilled {
    background: $color-10;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }
  &.empty_space {
    background: #fff;
    border: none;
  }
}
