@import 'styles/global';

.wrapper {
  width: toRem(240);
  display: flex;
  flex-direction: column;
}
.month {
  width: 100%;
  margin-bottom: toRem(30);
  & h4 {
    font-size: toRem(20);
    font-weight: 600;
    text-align: center;
    margin-bottom: toRem(20);
  }
}

.calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.day_wrapper {
  width: 14.28%;
  margin-bottom: toRem(5);
}

.day {
  display: inline-block;
  width: toRem(30);
  font-size: toRem(15);
  line-height: toRem(20);
  border-radius: toRem(5);
  border: 1px solid #6f6c74;
  background: #e5ddef;
  text-align: center;
  cursor: pointer;
  &.current {
  }
  &.nonworking {
    background: #a8a8a8;
    cursor: no-drop;
  }
  &.free {
  }
  &.partfilled {
  }
  &.fulfilled {
  }
}
